IMAGE_TAG=v1.0.0
POSTGRES_PASSWORD=change_me_strong_password
API_PORT=8088
HZ_AIOPS_RAG_MCP_BASE_URL=http://host.docker.internal:8091
HZ_AIOPS_FEISHU_WEBHOOK_URL=
HZ_AIOPS_REACT_MEMORY_ENABLED=true
HZ_AIOPS_REACT_CONTEXT_WINDOW_STEPS=3
HZ_AIOPS_REACT_SUMMARY_MAX_CHARS=480
HZ_AIOPS_REACT_SUMMARY_MAX_ENTRIES=12
